* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    -webkit-box-align: center;
            align-items: center;
    background: #fd6f6f;
    color: #fff;
    display: -webkit-box;
    display: flex;
    font: 30px/1.375 "Lato", arial, sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    height: 100vh;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100vw;
  }
  
  .note {
    font-size: 0.375em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
  
  #search {
    -webkit-box-align: center;
            align-items: center;
    background: #ff4242;
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.5em 0.5em 0.5em 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 500px;
  }
  
  #search:hover, #search:focus {
    background: #ff3030;
  }
  #search button,
  #search input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }
  #search button {
    cursor: pointer;
    padding: 0 0.25em;
  }
  #search input {
    -webkit-box-flex: 1;
            flex: 1;
  }
  #search input::-webkit-input-placeholder {
    color: #fff;
  }
  #search input::-moz-placeholder {
    color: #fff;
  }
  #search input:-ms-input-placeholder {
    color: #fff;
  }
  #search input::-ms-input-placeholder {
    color: #fff;
  }
  #search input::placeholder {
    color: #fff;
  }
  #search .spinner {
    -webkit-animation: spinner 1s infinite linear;
            animation: spinner 1s infinite linear;
    display: none;
    padding: 0 0.25em;
  }
  
  #search.loading button {
    display: none;
  }
  #search.loading .spinner {
    display: block;
  }
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .codes{
      bottom: 5%;
      left: 5%;
      position: fixed;
    }
    .codes div {
      border: 2px solid black;
      font-size: 20px;
      padding: 10px;
      background-color: red;
    }
    .codes div a{
      text-decoration: none;
      color: white;
      font-weight: 800;
    }